<section class="au-accordion {{if theme (concat "au-accordion--" theme)}}" id={{id}}>
  {{#if collapsable}}
    <a
      class="au-accordion__title {{expandedClass}}"
      aria-controls="accordion-default"
      aria-expanded={{ expanded }}
      onclick={{action "toggle"}}
    >
      <div>
        {{ title }}
      </div>
      {{#if subline}}
        <div class="au-accordion__subline">
          {{ subline }}
        </div>
      {{/if}}
    </a>
  {{else}}
    <span class="au-accordion__title locked">
      <div>
        {{ title }}
      </div>
      {{#if subline}}
        <div class="au-accordion__subline">
          {{ subline }}
        </div>
      {{/if}}
    </span>
  {{/if}}

  <div class="au-accordion__body {{expandedClass}}">
    <div class="au-accordion__body-wrapper {{if theme (concat "au-accordion--" theme)}}">
      {{ yield }}
    </div>
  </div>
</section>
