<div class="au-avatar">
  {{#if (not imgSrc)}}
    <p>
      {{dds/avatar avatarId=field fileService=fileService}}
      {{#file-upload name=(concat elementId "-avatar-file") accept=(array "image/jpeg" "image/png") onfileadd=(action "filePicked")}}
        <a class="au-btn au-btn--primary au-btn--thin au-btn--sapphire pointer">
          Browse photo
        </a>
      {{/file-upload}}
    </p>
  {{else}}
    <p>
      <div class="cropper-container">
        <img src={{ imgSrc }}>
      </div>
      {{image-cropper
        cropper=cropper
        cropperContainer=(concat (concat "#" elementId) " .cropper-container > img")
        aspectRatio=1
        minContainerWidth=100
        minContainerHeight=100
      }}
      {{dds/primary-button
        class="pull-left"
        thin=true
        theme="sapphire"
        onClick=(action "crop")
        label="Crop"
      }}
      {{dds/secondary-button
        class="pull-left"
        thin=true
        theme="sapphire"
        onClick=(action "cancel")
        label="Cancel"
      }}
      <div class="clear-both"></div>
    </p>
  {{/if}}

  {{#if cropBlob}}
    <div class="cropped-avatar" style="border-radius: 50%">
      {{croppedAvatar}}
    </div>
    {{dds/primary-button
      thin=true
      theme="sapphire"
      onClick=(action "upload")
      label="Upload"}}
  {{/if}}
</div>
