<div class="container-fluid" id="top">
  <ul class="au-main-nav__menu au-link-list" id="mainmenu">
    <li class={{if (eq currentPath "cloud-sellers") "active"}}>
      {{ link-to "Supplier list" "cloud-sellers" }}
    </li>
    <li class={{if (eq currentPath "cloud-search") "active"}}>
      {{ link-to "Cloud products" "cloud-search" "all" }}
    </li>
    <li class={{if (eq currentPath "help-page") "active"}}>
      {{ link-to "Help" "help-page" }}
    </li>
    {{# if auth.isSeller }}
      <li class={{if (eq currentPath "seller-dashboard") "dashboard-link active" "dashboard-link"}}>
        {{ link-to "Dashboard" "seller-dashboard" }}
      </li>
    {{else if auth.isBuyer }}
      <li class={{if (eq currentPath "buyer-dashboard") "dashboard-link active" "dashboard-link"}}>
        {{ link-to "Dashboard" "buyer-dashboard" }}
      </li>
    {{/ if }}
    {{# if auth.isAdmin }}
      <li><a href="/ops">Admin</a></li>
    {{/ if }}
  </ul>
</div>
