<div class="container-fluid" id="top">
  <ul class="au-main-nav__menu au-link-list" id="mainmenu">
    {{#each this.mainlinks as |mainlink|}}
      <li class={{if (eq mainlink.name "Dashboard") "dashboard-link"}} aria-current={{if (eq currentPath mainlink.route) "page"}}>
        {{#if mainlink.param}}
          {{link-to mainlink.name mainlink.route mainlink.param}} 
        {{else if (eq mainlink.name "Dashboard")}}
          {{#if auth.isSeller }}
            {{link-to "Dashboard" "seller-dashboard"}}
          {{else if auth.isBuyer }}
            {{link-to "Dashboard" "buyer-dashboard"}}
          {{/if}}
        {{else}}
          {{link-to mainlink.name mainlink.route}}
        {{/if}}
      </li>
    {{/each}}
    {{#if auth.isAdmin }}
      <li><a href="/ops">Admin</a></li>
    {{/if}}
  </ul>
</div>
