{{#each field as |item index|}}
  <p>
    <span class="col-xs-1 col-md-1">
      <b>{{inc index}}.</b>
    </span>
    <div class="col-xs-32 col-md-35">
      {{dds/text-input
        signal=(mut signal)
        field=(mut (get field index))
        thin=thin
        noLabel=true
        wide=true
      }}
    </div>
    <div class="clear-both"></div>
  </p>
{{/each}}
<p>
  <div class="plus-circle">
    {{dds/tertiary-button
      onClick=(action "addRow")
      icon="plus-circle"
      label="Add row"
      theme=theme
      thin=thin
    }}
    {{#if (and (or showError hasChanged) invalid)}}
      {{dds/validation-error type="error" message=errorMessage}}
    {{else if (and apiError (not hasChanged))}}
      {{dds/validation-error type="warning" message=apiError}}
    {{/if}}
  </div>
</p>
