<div class="row">
  {{#unless noLabel}}
    <div class={{if allRow "col-sm-36 text-input-label" "col-sm-36 col-md-12 text-input-label"}}>
      <label for="text-input">
        {{label-text}}
        {{yield}}
      </label>
    </div>
  {{/unless}}
  <div class={{if allRow "col-sm-36" "col-sm-36 col-md-24"}}>
    {{input
      class=(concat
              "au-text-input "
              (if wide "au-text-input--block ")
              (if thin "au-text-input--thin ")
              (if theme (concat "au-text-input--" theme)))
      value=(mut field)
      type=(if hidePassword "password" "text")
      disabled=disabled
      enter=enter
      autocomplete="new-password"
      focus-out=(action "onChange")
      key-up=(action "onChange")
    }}
    {{dds/tertiary-button
      label=(if hidePassword "Show" "Hide")
      onClick=(action "togglePassword")
      tagName="span"
    }}
    {{#if (eq length 0)}}
      {{dds/validation-error type="gray" message="Password is blank" float="left"}}
    {{else if (lt length 8)}}
      {{dds/validation-error type="error" message="Password is too short" float="left"}}
    {{else if (lt strength 3)}}
      {{dds/validation-error type="warning" message="Password is not strong enough" float="left"}}
    {{else}}
      {{dds/validation-error type="green" message="Password is strong" float="left"}}
    {{/if}}
  </div>
</div>
