<div class="container-fluid">
  <div class="au-footer__start row">
    <div class="col-sm-12">
      <h4 class="au-display-lg">About buy.nsw</h4>
      <ul class="au-link-list">
        <li>{{ link-to "About the program" "about-page" }}</li>
        <li><a href="https://www.digital.nsw.gov.au/blog" target="_blank" rel="noopener">Digital NSW blog</a></li>
        <li><a href="https://github.com/digitalnsw/buy-nsw" target="_blank" rel="noopener">Source Code</a></li>
      </ul>
    </div>
    <div class="col-sm-12">
      <h4 class="au-display-lg">Guidance</h4>
      <ul class="au-link-list">
        <li>{{ link-to "Buyer guide" "buyer-guide" }}</li>
        <li>{{ link-to "Supplier guide" "seller-guide" }}</li>
        <li><a href="https://www.procurepoint.nsw.gov.au/" target="_blank" rel="noopener">ProcurePoint</a></li>
      </ul>
    </div>
    <div class="col-sm-12">
      <h4 class="au-display-lg">Help</h4>
      <ul class="au-link-list">
        <li>{{ link-to "Contact us" "contact" }}</li>
      </ul>
    </div>
  </div>    

  <nav class="au-footer__end">
    <ul class="au-link-list au-link-list--inline">
      <li>{{ link-to "Privacy statement" "privacy" }}</li>
      <li>{{ link-to "Terms and conditions" "terms-of-use" }}</li>
      <li>{{ link-to "Accessibility statement" "accessibility" }}</li>
      <li>{{ link-to "License and attribution" "license" }}</li>
    </ul>
    <ul class="au-link-list">
      <li>Built by <a href="https://www.customerservice.nsw.gov.au" target="_blank" rel="noopener">Department of Customer Service</a></li>
    </ul>
  </nav>

  {{#if auth.config.build_version}}
    <div class="au-footer__end">
      <ul class="au-tags au-tags--dark">
        <li>
          <a
            target="_blank"
            rel="noopener"
            href="https://github.com/digitalnsw/buy-nsw/commits/{{auth.config.build_version}}"
          >
            {{auth.config.environment}} env ({{auth.config.build_version}}, built at {{auth.config.build_time}})
          </a>
        </li>
      </ul>
    </div>
  {{/if}}
</div>
