{{#if route}}
  {{link-to label route
    class=(concat (concat "au-btn au-btn--tertiary "
      (if wide "au-btn--wide "))
      (if thin "au-btn--thin "))
    disabled=disabled
  }}
{{else}}
  <a
    class={{concat (concat "au-btn au-btn--tertiary "
      (if wide "au-btn--wide "))
      (if thin "au-btn--thin ")}}
    onclick={{unless disabled onClick}}
    disabled={{disabled}}
  >
    {{label}}
  </a>
{{/if}}
